body{
    background: url(Imagens/fundo.jpg) no-repeat;
	padding: 0px;
	margin: 0px;
}

.caixa-planoBasic{
    width: 100%;
    margin-top: 10%;
    border-radius: 5px;
    color: black;
    padding: 50px;
    align-items: center;
    background-color:#ffffffc5;
    float: left;
    margin-right: 50px;
     
}
.caixa-planoBasic:hover {
	background-color: #ffffff;
}

.caixa-planoFull{	
    width: 100%;
    margin-top: 10%;
    border-radius:5px;
    color: black;
    padding: 50px;
    align-items: center;
    background-color:#ffffffc5;
    float: left;
}



.caixa-planoFull:hover {
	background-color: #ffffff;
}

p{
	font-family: serif;
    font-size: 20   px;
    font-weight: 500;
    padding-bottom: 3%;
    padding-top: 3%;
    font-family:sans-serif;
}
h1{
	font-size: 40px;
    margin-top: -20px;
    border-style: solid;
    border-bottom-color: #ff2e06;
    border-width: 0px 0px 2px 0px;
    text-align: center;
    padding-bottom: 10px;
 
}


h2{
    font-size: 10px;
    margin-top: -20px;
    border-style: solid;
    border-bottom-color: #ff2e06;
    border-width: 0px 0px 2px 0px;
    text-align: center;
    padding-bottom: 10px;  
  
}

h2 p{
    text-align: center;
    font-size: 15px;
    float: left;
    margin-right: 5px;
   
}


.texto-h2{
    float: left;
    margin-left: 0px;
}
img{
	float: left;
	width: 60px;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
}

.caixa-textos{
width: 100%;
}

.caixa-textos-2{
    width: 100%;
}

.botao{
	height: 50px;
    width: 200px;
    border-radius: 15px;
    background-color: #70809090;
    font-size: 30px;
    font-family:sans-serif;
    font-weight: 500;
    margin-top: 8%;
    outline: none;
    padding: 0px;
    margin-right: 13%;
}
.botao:hover{
	background-color: #708090;
	outline: none;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #273043 !important;
  border-color: #343a40;
}

.caixa-divisao{
   margin-left: -10px;
    height: 30px;
    float: left;
}

.caixa-texto-img{
    margin-left: -80px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.caixa-texto-p{
    margin-left: -50px;
    margin-top: 30px;
    margin-bottom: 15px;
  
}

.texto-decs{
    font-size: 12px;
}



