body{   
    background-size: 100%;
    /*padding: 5%;*/
    background: url('../img/fundo.jpg') no-repeat 50% 50%;
}

img{
    margin: 50px;
}

.caixa-principal{
    /*width: 100%;*/
    padding-bottom: 15px;
    padding-top: 20px;
    margin-top: 45px;

    padding-right: 25px !important;
    padding-left: 25px !important;
}

.Margin-Right{
    margin-right: 50px;
}

.Margin-Right-CEP{
    margin-right: 40px;
    width: 275px;
}

.Margin-Right-numero{
    margin-right: 50px;
    width: 80px; 
}

select{
    width: 400px;
    outline: none;
    margin-bottom: 2.5%;
    border-width: 0px 0px 1px 0px;
    border-color:#9197AE;
    background:white;
    color: #757575;
    font-size: 18px;
}

select:hover{
    border-width: 0px 0px 1px 0px;
    border-color: #273043;
    border-style: solid;
}

input{
    width: 400px;
    outline: none;
    margin-bottom: 2.5%;
    border-width: 0px 0px 1px 0px;
    border-color:#9197AE;
    background:white;
    font-size: 18px;
}

.caixa-img{
    width: 70%;
    height: 20px;
}

.form-control{
    background: #eff6ee;
    font-weight: 500;
}

.imagem1{
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-left: -20px;
    margin-bottom: -4px;
}

#quadro1{
    width: 200px;
    height: auto;
    padding: 8px;
    overflow: hidden;
    display: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.imagem1:hover ~ #quadro1{
    display: initial;
    position: absolute;
    background: #d3d3d3;
    transition: all 0.3s;
    
}

#quadro2{
    width: 200px;
    height: auto;
    padding: 8px;
    overflow: hidden;
    display: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.imagem2:hover ~ #quadro2{
    display: initial;
    position: absolute;
    background: #d3d3d3;
    transition: all 0.3s;    
}

.imagem2{
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-left: -20px;
    margin-bottom: -4px;
}

.butao{
    width: 100%;
    font-size: 20px;
   font-weight: 500; 
}

.btn-outline-primary{
border-color: #273043;
color:#273043;
}

.btn-outline-primary:hover{
    background: #273043;
    border-color: #273043;
}

.butao2{
    width: 100%;
    font-size: 20px;
     float: left;
     font-weight: 500;
}

.janela{
    border-radius: 5px;
    background-color: #fff;
    padding: 5%;
    padding-top: 7%;
    text-align: center;
    align-items: center;
    background: #eff6ee;
    margin-top: -50px;
}

.caixa-divisao{    
    margin-top: 10px;
}

.caixa-botao{
    margin-bottom: 10px;
}

.caixa-divisao{
    height: 50px;
    float: left;
}
