.{
padding
:
 
0;
margin
:
 
0;
}
body {
	background: #eff6ee !important;
}

/*/////////////////// BARRA DE NAVEGAÇÃO //////////////////////////////*/
#barraDeNavegacao {
	position: fixed;
	width: 200px;
	height: 100%;
	background: url('../img/fundo6.jpg') no-repeat 35% 50%;
	z-index: 2;
}

ul {
	height: 200px;
	padding-left: 20px;
}

ul h2 {
	color: #eff6ee;
	transition: 5s;
}

#img-logo {
	width: 180px;
	height: 40px;
	margin-top: 5px;
}

.img-users {
	width: 120px !important;
	height: 120px !important;
	margin-left: 10px;
	margin-top: -30px;
}

.btn-fechar {
	width: 40px;
	height: 40px;
	border: none;
	margin-left: 130px;
	margin-top: 10px;
	background: none;
}

.btn-fechar img {
	width: 20px;
	height: 20px;
}

ul li {
	list-style: none;
	font-family: Open Sans;
	font-weight: 800;
	padding: 5px;
	margin-left: -10px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
	cursor: pointer;
}

ul li:hover {
	color: #f02d3a;
}

ul li img {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 10px;
}

.li-principal {
	margin-top: 40px;
}

ul li a {
	margin-top:;
	color: #fff;
	list-style: none;
	list-style-type: none;
}

/* /////////////////// FAIXA DE NAVEGAÇÃO ////////////*/
#faixa-navegacao {
	width: 100%;
	height: 50px;
	background: #ccc;
	position: fixed;
	z-index: 1;
}

.toogle-btn {
	position: absolute;
	margin-left: -300px;
	top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #f02d3a;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
}

.toogle-btn span {
	display: block;
	width: 30px;
	height: 3px;
	background: #f02d3a;
	margin: 3px 0px;
}

#toogle {
	margin-left: 0px;
}

/*/////////////////// DEPARTAMENTO //////////////////////////////*/
main {
	width: 100%;
	height: 100%;
	margin-left: 200px;
}

.panel-danger1 {
	width: 100%;
	height: 440px;
	margin-top: 80px;
	background: #eff6ee;
	margin-bottom: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #f02d3a;
	border-radius: 3px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.panel-danger1:hover {

	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0);
}


.panel-danger4 {
	width: 100%;
	height: 440px;
	margin-top: 80px;
	background: #eff6ee;
	margin-bottom: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #f02d3a;
	border-radius: 3px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.panel-danger4:hover {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0);
}

.imgAdicionar{
	width: 300px;
	height: 300px;
}

.imgAdicionar:hover{
	background-color: rgba(10,23,55,0.2);;
}

.chartjs-render-monitor{
	 width:100% !important;
	height: 300px !important;
	min-height: 300px !important;
	
	}



/*///////////////////////////// RELATORIOS///////////////////*/
h1 {
	text-align:left;
	height: 60px;
}

p {
	text-align: left;
	width: 100%;
}

.textoCaixa1 {
	width: 100%;
	height: 250px;
	float: left;
	margin-right: 10px;
}

.textoCaixa2 {
	width: 50%;
	height: 250px;
	float: left;
	margin-bottom: 20px;
}

.textoCaixa3 {
	width: 50%;
	height: 250px;
	float: left;
	float: left;
	margin-bottom: 20px;
}

/*////////// EFEITOS PARA O JAVA  /////////////////////*/
.efeitoBarra {
	margin-left: -300px;
	transition: margin-left 0.8s;
}

.efeitoBarra2 {
	margin-left: 0px;
	transition: margin-left 0.8s;
}

/*////////////////*/
.efeitoCaixa {
	margin-left: 0px;
	transition: margin-left 0.1s;
}

.efeitoCaixa2 {
	margin-left: 200px;
	transition: margin-left 0.1s;
}

/*////////////////*/
.efeitoToggle {
	margin-left: 10px;
	transition: margin-left 0.1s;
}

.efeitoToggle2 {
	margin-left: -300px;
	transition: margin-left 0.1s;
}

/*////////////////*/


/*///////////////////  RESPONSIVEL DOS GR�FICOS ///////////////////////////*/

@media screen and (min-width:320px) and (max-width: 425px){
	
	.chartjs-render-monitor{
	height: 300px !important;
	min-height: 300px !important;
	
	}
	
	.imgAdicionar{
	width: 200px ;
	height: 200px ;
	margin-top:50px;

	}

}


@media screen and (min-width:768px) and (max-width: 770px) {
	
	.chartjs-render-monitor{
	height: 300px !important;	
	min-height: 300px !important;
	}
	
	.imgAdicionar{
	margin-top:40px;
	}
	
}



@media screen and (min-width:780px) and (max-width: 1025px) {
	
	.chartjs-render-monitor{
	height: 300px !important;	
	min-height: 300px !important;
	}
}

@media screen and (min-width:780px) and (max-width: 1440px) {
	
	.chartjs-render-monitor{
	height: 300px !important;	
	min-height: 300px !important;
	}
}