html {
	scroll-behavior: smooth;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #ddd;
}

.carousel-caption>p, .carousel-caption>h1 {
	color: white;
	text-shadow: 1px 1px 2px #273043, -1px -1px 2px #273043, -1px 1px 2px #273043, 1px -1px 2px #273043
}

.caixa-li {
	margin-top: 5px;
}

#img-logo {
	width: 80px;
	height: 60px;
}

#caixa-a {
	color: #fff;
}
.logotipo{
	width: 120px;
	height: 60px;
}

.barra-navegation {
	padding: 5px;
	font-size: 18px;
	border-style: none;
	height: 60px;
	box-shadow: 0 -3px 9px #000;
}

.navbar-incluid {
	background: #273043;
}

.icon-bar {
	background-color: #f02d3a;
}

#toogle-caixa {
	width: 45px;
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
}

#toogle-caixa:hover {
	background: #eff6ee;
}

#text-1 {
	color: #fff;
}

#text-1:hover {
	height: 30px;
	padding-bottom: 25px;
	color: #fff;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #f02d3a;
	border-spacing: 5px;
	background: #273043;
}

#text-2 {
	color: #fff;
	margin-right: 12px;
	float: left;
}

#text-2:hover {
	height: 30px;
	padding-bottom: 25px;
	color: #fff;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #f02d3a;
	border-spacing: 5px;
	background: #273043;
}

.logotipo img {
	width: 80px;
	height: 50px;
	margin-top: 7px;
}

#btn-login {
	padding: 5px 20px 5px 20px;
	float: left;
	text-align: center;
	margin-top: 6px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background: #273043;
	border-color: #fff;
	border-width: 1px;
}

#btn-login:hover {
	background: #9197ae;
	border-color: #9197ae;
	padding-right: 30px;
	padding-left: 30px;
}

#section-produto-parallax {
	margin-top: 50px;
	height: 100vh;
	background: white;
	position: relative;
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
}
.produto-text-1{
	color: #f02d3a;
}
.caixa-monitoramento1{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	
}
.caixa-monitoramento2{
	width: 500px;
	height: 500px;
	margin-right: 5px;
}


#section-inovacao {
	width: 100%;
	height: 700px;
	background: white (204, 204, 204);
	text-align: center;
}

.inovacao-text-2{
	color: #f02d3a;
	text-align: center;
	margin-top: 10px;
}
.rasp1{
	width: 340px;
	height: 340px;
}

.inovacao {
	width: 500px;
	height: 500px;
	float: left;
}

.panel-texto{
	border-radius: 10%;
	padding: 0px;
	margin-bottom: 30px;
	margin-left: 150px;
}

/* configuracao comum das section  */

/*isto pode ser aplicado para a configuracao 100vh ou seja div que ocupa a altura do dispositivo*/

#section-pacotes, #section-inovacao, #section-produto, #sobre-nos {
	padding-top: 70px;
}

#section-pacotes {
	width: 100%;
	height: 50%;
	margin-bottom: 30px;
}

.img {
	height: 90vmin;
}

.img img {
	width: 100%;
	max-width: 100%;
}

.mypanel {
	border: solid 10px #337ab7;
	border-radius: 10%;
	padding: 0px 20px 20px 20px;
	margin: 0 auto;
}

.footer {
	background: #273043;
	color: #f02d3a;
	padding: 10px;
}
.frase-footer{
	margin-right: 100px;
}

#sobre-nos {
	background: #f2f2f2;
	width: 100%;
	min-height: 500px;
	height: auto;
	margin-bottom: 255px;
	margin-top: auto;
	
}

#profile {
	width: 200px;
	height: 200px;
	margin: 20px;
	z-index: 1;
}

.grupo{
	width: 200px;
	height: 200px;
	margin: 20px;
}



  .texto h2, h4{
	font-family:Open Sans;
  }
  
  .imagem:hover .texto{
	opacity:5;
   }


  .texto h2, h4{
	font-family:Open Sans;
  }
  
  
  .imagem1:hover .texto1{
	opacity:5;
   }


  .texto h2, h4{
	font-family:Open Sans;
  }
  
 
  .texto h2, h4{
	font-family:Open Sans;
  }
  
  

  