body{
	align-items: center;
	padding: 0px;
	margin: 0px;
}
.janela{
	width: 900px;
    height: 550px;
    background-color: #e00808;
    margin: 40px 0px 0px 250px;
    border-radius: 20px;
    border-style: double;
    border-width: 5px;
}