html {
	scroll-behavior: smooth;
}

body{
	padding: 0px;
	margin: 0px;
	background-color: #ddd;
}
.carousel-caption>p,.carousel-caption>h1 {
	color:white;
    text-shadow: 1px 1px 2px #273043, -1px -1px 2px #273043,-1px 1px 2px #273043,1px -1px 2px #273043
}
.caixa-li{
	margin-top: 5px;
}

#img-logo{
	width: 80px;
	height: 60px;

}

#caixa-a{
	color: #fff;
}


.barra-navegation{
	padding: 5px;
	font-size: 18px;
	border-style: none;
	height: 60px;
	box-shadow: 0 -3px 9px #000;
	
}

.navbar-incluid{
	background: #273043;
}
.icon-bar{
	background-color:#f02d3a;
}

#toogle-caixa{
width: 45px;
margin-top:10px;
border-style: solid;
border-width:1px;
border-color: #fff;
}

#toogle-caixa:hover{
background: #eff6ee;
}

#text-1{
color: #fff;

}

#text-1:hover{
height: 30px;
padding-bottom: 25px;
color: #fff;
border-style: solid;
border-width: 0px 0px 2px 0px;
border-color:#f02d3a;
border-spacing: 5px;
background: #273043;

}

#text-2{
color: #fff;
margin-right: 12px;
float: left;

}

#text-2:hover{
height: 30px;
padding-bottom: 25px;
color: #fff;
border-style: solid;
border-width: 0px 0px 2px 0px;
border-color:#f02d3a;
border-spacing: 5px;
background: #273043;


}


.logotipo img {
	width: 75px;
	height: 40px;
	margin-top: 6px;
}



#btn-login{
	padding: 5px 20px 5px 20px;
	float: left;
	text-align: center;
	margin-top: 6px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background:#273043;
	border-color:#fff;
	border-width: 1px;

}

#btn-login:hover{
	background:#9197ae;
	border-color:#9197ae;
	padding-right: 30px;
	padding-left: 30px;
}

#section-produto-parallax{
	margin-top:50px;
	height: 100vh;
	background: #273043;
	position: relative;
	background-image: url(Imagens/carousel1.jpg);
	background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
}

#section-inovacao{
	width: 100%;
	height: 650px;
	background: white;
	
	
}
/* configuracao comum das section  */
/*isto pode ser aplicado para a configuracao 100vh ou seja div que ocupa a altura do dispositivo*/
#section-pacotes,#section-inovacao,#section-produto,#sobre-nos{
	padding-top: 70px;
}
#section-pacotes{
	width: 100%;
	height: 100vh;
	
	
}
.img{
	height: 90vmin;
}
.img img{
	width: 100%;
}
img > .item{
	
}
.mypanel{
	border: solid 4px #337ab7;
	border-radius: 6%;
	padding: 0px 20px 20px 20px;
	
}

.footer {
	background: #273043;
	color: #f02d3a;
	padding: 100px;
  }

#sobre-nos{
	background: #f2f2f2;
	width: 100%;
	height: 100vh;
	margin-bottom: 155px;	
	margin-top: auto;
}

#profile{
	width:200px;
	height:200px; 
	margin: 20px;

}
.imagens-profile{
	display: block;
	position: relative;
	height:100vh;
	margin: 70px auto;
	
}
	
.inovacao{
	width: 600px;
	height: 600px;
}



.demo-3 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    font-family:'Helvetica Neue';
    color:#f02d3a;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-family:' Helvetica';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#273043;
    text-align:left
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:#f2f2f2(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}